body{
    background:url('../img/snow.jpg') repeat 0 0;
}
.sombra{
    box-shadow: 1px 1px 5px rgba(200, 200, 200, 0.8);
}
#wrapper{
    padding-top: 20px;
}
#principal{
    height: 440px;
}
#estatisticas, #recentemente_atualizados{
    height: 130px;
}
.titulo{
    font-size: 20px;
    line-height: 20px;
    margin-top: 0;
    padding: 0;
}
.descricao{
    text-align: justify;
    white-space: normal !important;
}
#recentemente_atualizados > ul{
    font-size: 12px;
    line-height: 12px;
}