body{
    background:url('../img/snow.jpg') repeat 0 0;
}
#lado-esquerdo{
    padding-right: 10px;
    padding-top: 20px;
    position: fixed;
    border-right: 1px solid #eee;
}
#lado-direito{
}
#nome_usuario{
    text-align: center;
}
#avatar_usuario{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    height: 210px;
    width: 210px;
}
#organizacoes{
    height: 70px;
}
#recentemente_atualizados{
    min-height: 100px;
}
.scroll-pane {
    height: 100%;
    overflow-y: scroll;
}
#github-gpg-repos li{
    padding-right: 0px !important;
}
.sombra{
    box-shadow: 1px 1px 5px rgba(200, 200, 200, 0.8);
}
#principal{
}
#estatisticas, #recentemente_atualizados{
    height: 130px;
}
.titulo{
    font-size: 20px;
    line-height: 20px;
    margin-top: 0;
    padding: 0;
}
.descricao{
    text-align: justify;
    white-space: normal !important;
}
#recentemente_atualizados > ul{
    font-size: 12px;
    line-height: 12px;
}
.organizacao-logo{
    border: 1px solid lightgray;
}